/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}
button:hover{
    opacity: 0.8;
}


.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}


.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: -320px;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
body {
background-color: #0a4d6e;
}

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.modal-body{
    padding: 1rem;
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerTitle{
    position: relative;

}
.headerTitle span{
    position: absolute;
    top: -5px;
    right: -5px;
    width: -20px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 50%;
    color: #FAFAFA;
    display: flex;
    align-items: center;
    justify-content: center;


}
.headerTitle .close_btn{
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.2s ease ;
}

.headerTitle .close_btn:hover{
    transform: scale(1.1);
    
}

.cart_items{
    /* flex: 1; */
    
    overflow-x:hidden;
}



.cart_item{
    position: relative;
    padding: 1rem;
    width: 100%;
    min-height: 150px;
    display: flex;
    border-bottom: 1px solid var(--light-grey);

}
.remove_item span{
    color: #4b2c2c;
    font-size: 20px;
    user-select: none;


    
    
    
}

.item_img{
    flex: 1;

}
.item_img img{
    width: 100%;
    height: 80%;
    object-fit: contain;
}
.item_details{
    flex: 2;
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.item_details p{
    color: #4b2c2c;
}
.item_details .qty{
    align-self: flex-start;
    display: flex;
    align-items:center;
    gap: 1rem;
}
.item_details .qty span{
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    line-height: 1;
    cursor: pointer;
    box-shadow: 3px 3px 5px var(--light-grey) -px -px 2px var(--light-grey) ;
    user-select: none;
}
.item_details .qty span:hover{
    scale: 1.1;

}
.item_details span:hover{
    scale: 1.1;

}
.item_details span:active{
    scale: 1;
}
.qty span:first-of-type{
    font-size: 2rem;
    padding-bottom: 5px;
}
.cart_actions{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 1px solid var(--light-grey);
    box-shadow: 0 -5px 10px var(--light-grey);
}
.cart_actions .subtotal{
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;

}
.cart_actions button{
    border: none;
    background-color: #000;
    color: #fff;
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;


}
.cart_action button:nth-of-type(2){
    background-color: var(--accent-color);

}